/*----------------------------------------------------------------------*/
/* Os dois */
/*----------------------------------------------------------------------*/


.about, .contact {
    display: flex;
    justify-content: center;
}
.text {
    text-align: center;
}
.listAbout, .listContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 560px;
}
.imgAbout, .imgContact {
    background-image: url("/exemplo3.jpg");
    background-position: right top;
    background-attachment: fixed;
    width: 560px;
    height: 560px;
}


/*----------------------------------------------------------------------*/
/* Sobre */
/*----------------------------------------------------------------------*/


.listAbout ul {
    list-style: none;
    padding: 3em;
}
.listAbout h3 {
    padding-bottom: 15px;
}
.almoco, .janta {
    color: white;
    width: 440px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.313);
}
.almoco {
    background-color: rgb(182, 200, 44);
}
.janta {
    background-color: rgb(34, 33, 36);
}
.janta p {
    padding: 3px;
}


/*----------------------------------------------------------------------*/
/* Contato */
/*----------------------------------------------------------------------*/

.listContact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listContact ul {
    list-style: none;
    width: 440px;
    margin: 30px;
    padding: 2em;
    text-align: center;
}
.listContact li {
    padding: 1em;
}
.listContact a {
    text-decoration: none;
    color: black;
}