
/*----------------------------------------------------------------------*/
/* Geral */
/*----------------------------------------------------------------------*/


hr {
    display: none;
}



/*----------------------------------------------------------------------*/
/* Os dois */
/*----------------------------------------------------------------------*/


.about, .contact {
    display: flex;
    justify-content: center;
}
.text {
    text-align: center;
}
.listAbout, .listContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 560px;
}
.imgAbout, .imgContact {
    background-image: url("/exemplo3.jpg");
    background-position: top center;
    background-attachment: fixed;
    width: 410px;
    height: 560px;
}   


/*----------------------------------------------------------------------*/
/* Sobre */
/*----------------------------------------------------------------------*/


.listAbout ul {
    list-style: none;
    padding: 3em 1em;
}
.listAbout h3 {
    padding-bottom: 15px;
}
.almoco, .janta {
    color: black;
    width: auto;
}
.janta p {
    padding: 3px;
}


/*----------------------------------------------------------------------*/
/* Contato */
/*----------------------------------------------------------------------*/

.listContact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listContact ul {
    list-style: none;
    margin: 2em;
    text-align: center;
}
.listContact li {
    padding: 1em;
}
.listContact a {
    text-decoration: none;
    color: black;
}



/*----------------------------------------------------------------------*/
/* Media query */
/*----------------------------------------------------------------------*/

@media screen and (max-width: 820px ) {
    .listAbout, .listContact {
        width: auto;
        height: auto;
    }
    .imgAbout, .imgContact {
        width: auto;
        height: auto;
    }
    hr {
        display: block;
        margin: 2em;
    }
    .about, .contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}