.CDIContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1em 0;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img img {
    width: 70px;
}
.text {
    max-width: 75%;
}
.text h1 {
    color: black;
    margin: .6em 0 .6em 10px;
}
.text p {
    padding: 0 20px 0 10px;
}
