.Header nav {
    padding: 2em;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.169);
    position: fixed;
    width: 100%;
}

.Header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.Header span {
    background-color: #9CFA55;
    padding: .5em;
}