.Header {
    display: flex;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.169);
    position: fixed;
    width: 100%;
    justify-content: center;
}
.Header nav {
    max-width: 820px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.Header  nav  div {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.Header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.Header span {
    color: white;
    background-color: rgba(57, 207, 90, 0.99);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}
.Header a {
    text-decoration: none;
    color: white;
    background-color: rgb(53, 53, 53);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    list-style: none;
    color: white;
    justify-content: center;
}
.icon {
    color: white;
}

.HamburgerMenu {
    background-color: rgba(20, 19, 19, 0.92);
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
