.Home .img {
    width: 95vw;
}
.Home{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Home h1 {
    color: white;

    position: absolute;
}
.Home span {
    background-color: rgb(203, 137, 56);
}