.Swipper .img {
    width: 95vw;
}
.Swipper{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Swipper h1 {
    color: white;

    position: absolute;
}
.Swipper span {
    background-color: rgb(203, 137, 56);
}
.Swipper {
    height: 70vh;
}