/*----------------------------------------------------------------------*/
/* Geral */
/*----------------------------------------------------------------------*/


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.HrRemovivel {
    display: none;
}

.imgLogo {
    max-width: 200px;
    margin: 1.5em 0;
}


/*----------------------------------------------------------------------*/
/* Para about, contact, reserva e delivery */
/*----------------------------------------------------------------------*/


.Container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.ContainerListChildrenAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 560px;

    h1 {
        font-size: 1.7em;
    }

    ul {
        list-style: none;
        padding: 3em 1em;
    }
    h3 {
        padding-bottom: 15px;
    }
}
.ContainerImgAll {
    width: 410px;
    height: 560px;
}   



/*----------------------------------------------------------------------*/
/* AboutPlusContact */
/*----------------------------------------------------------------------*/


.ImgAboutContact {
    background-image: url("/exemplo3.jpg");
    background-position: top center;
    background-attachment: fixed;
}
.divListParent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 2em;
    text-align: center;

    div {
        padding: 1em;
    }

    a {
        text-decoration: none;
        color: black;
    }
}


/*----------------------------------------------------------------------*/
/* ReservaAndDelivery */
/*----------------------------------------------------------------------*/


.imgReserva {
    background-image: url('/reserva.jpg');
    background-size: cover;
}
.imgEntrega {
    background-image: url('/delivery.jpg');
    background-size: cover;
}
.text {
    padding: 3em 1em;
}
.btnRD {
    margin: 2em 0;
    color: #fff;
    background-color: #997d34d1;
    padding: 10px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1.1rem;
    cursor: pointer;
}
.espaco {
    margin-bottom: 2em;
}


/*----------------------------------------------------------------------*/
/* Header Principal */
/*----------------------------------------------------------------------*/


.Header {
    display: flex;
    background-color: rgba(255, 255, 255, 0.92);
    position: sticky;
    top: 0px;
    width: 100%;
    justify-content: center;

    nav {
        max-width: 820px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 1em;

        div {
            margin: auto;
            text-align: center;
            margin-bottom: 20px;
        }

        .list {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5em;
            list-style: none;
            color: white;
            justify-content: center;

            span {
                color: white;
                background-color: rgba(57, 207, 90, 0.99);
                padding: 7px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;

            a {
                text-decoration: none;
                color: white;
                background-color: rgb(53, 53, 53);
                padding: 7px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }


    .HamburgerMenu {
        background-color: rgba(20, 19, 19, 0.92);
        color: white;
        padding: 10px;
        cursor: pointer;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            color: white;
        }
    }
}










/*----------------------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------------------*/

footer {
    background-color: rgb(193, 110, 59);    
}
.containerFooter {
    padding: 4em 0;
}
.footerWrapper {   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}
.logo {
    padding-bottom: 20px;
}
.socialMedia {
    font-size: 1.4em;

    a {
        color: black;
    }
}
.footerList {
    list-style: none;

    li {
        padding-bottom: 1em;
    }
}


/*----------------------------------------------------------------------*/
/* Media Query */
/*----------------------------------------------------------------------*/

@media screen and (max-width: 820px ) {
    .ContainerListChildrenAll {
        width: auto;
        height: auto;
    }
    .ContainerImgAll {
        width: auto;
        height: auto;
    }
    .HrRemovivel {
        display: block;
        margin: 2em;
    }
    .about, .contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}