
.DisconectButton {
    position: absolute;
        
    button {
        border-radius: 5px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.23);
        width: 110px;
    }
    
}


.UserAndLoginButton  {    
    display: flex;
    flex-direction: column;
    

    button {
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        height: 30px;
        cursor: pointer;
    }

    
    span {
        display: flex;
        align-items: center;
        cursor: pointer;

        button {
            font-size: 1em;
        }

            svg {
                margin-right: 5px;
            }
    }
}