/*----------------------------------------------------------------------*/
/* Nav Bar */
/*----------------------------------------------------------------------*/

.opcao {
    margin: 2em 0 0 0;

    ul {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
    
        .itens {
            background-color: rgb(102, 70, 17);
            padding: 6px;
            transition: 1s;
            cursor: pointer;
            border-radius: 10px;
            text-decoration: none;
            color: white;
        
            &:hover {
                background-color: rgb(210, 137, 19);
            }
        }
    }
}


/*----------------------------------------------------------------------*/
/* Header cardapio */
/*----------------------------------------------------------------------*/


.HeaderButton a {
    text-decoration: none;
    color: white;   
}
.BackButton{
    position: relative;
    top: 0;
    left: 0;
    svg {
        font-size: 12px;
    }
        
} 
.teste { 
    max-width: 1200px;
    width: 100%;
    position: absolute;
}


/*----------------------------------------------------------------------*/
/* Cardapio */
/*----------------------------------------------------------------------*/


.MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    div {
        max-width: 1201px;
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        margin: 1em 0;
        height: auto;
    }
}
.CDContainer {
    display: flex;
    border: 1px solid black;
    margin: 1em 0;
    width: 100%;
    flex-direction: column;
    list-style: none;
}
.CDIContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1em 0;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;

    img {
        width: 70px;
        height: auto;
    }

    .preco {
        font-size: .9em;
    }
}
.text {
    max-width: 75%;

    h3 {
        color: black;
        margin: .6em 0 .6em 10px;
        font-weight: 500;
        font-size: 1.5em;
    }

    p {
        padding: 0 20px 0 10px;
    }
}

.PageName {
    margin: .7em 0;
}
#Entrada, #Pratos, #Porção, #Drinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .6em;
}


/*----------------------------------------------------------------------*/
/* Media Query */
/*----------------------------------------------------------------------*/


@media screen and (min-width: 1200px ) {
    .CDContainer {
        display: flex;
        border: 1px solid black;
        margin: 1em 0;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none;
    }
    .CDIContainer {
        display: flex;
        width: 599px;
        justify-content: space-between;
        margin: 1em 0;
    }
}