/*----------------------------------------------------------------------*/
/* Geral */
/*----------------------------------------------------------------------*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.imgLogo {
    max-width: 200px;
    margin: 1.5em 0;
}



/*----------------------------------------------------------------------*/
/* Nav Bar */
/*----------------------------------------------------------------------*/

.sticky {
    position: sticky;
    top: -25px;
}
.opcao {
    margin-bottom: 2em;
}

.opcao ul {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2em;
    justify-content: center;
}
.opcao li {
    background-color: rgb(102, 70, 17);
    padding: 6px;
    transition: 1s;
    cursor: pointer;
    border-radius: 10px;
    height: 31.84px;
}
.opcao li:hover {
    background-color: rgb(210, 137, 19);
}
.itens {
    text-decoration: none;
    color: white;

}

/*----------------------------------------------------------------------*/
/* Header cardapio */
/*----------------------------------------------------------------------*/


.HeaderButton a {
    text-decoration: none;
    color: white;   
}
.ButtonIcon svg {
    padding-top: 4px;
}


/*----------------------------------------------------------------------*/
/* Cardapio */
/*----------------------------------------------------------------------*/


.MainContainer {
    max-width: 1201px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.CDContainer {
    display: flex;
    border: 1px solid black;
    margin: 1em 0;
    width: 100%;
    flex-direction: column;
    list-style: none;
}
.CDIContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1em 0;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img img {
    width: 70px;
}
.text {
    max-width: 75%;
}
.text h1 {
    color: black;
    margin: .6em 0 .6em 10px;
}
.text p {
    padding: 0 20px 0 10px;
}
.PageName {
    margin: .7em 0;
}
#Entrada, #Pratos, #Porção, #Drinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*----------------------------------------------------------------------*/
/* Media Query */
/*----------------------------------------------------------------------*/


@media screen and (min-width: 1200px ) {
    .CDContainer {
        display: flex;
        border: 1px solid black;
        margin: 1em 0;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none;
    }
    .CDIContainer {
        display: flex;
        width: 599px;
        justify-content: space-between;
        margin: 1em 0;
    }
}