.BrandButtons {


    button {
        background-color: white;
        padding: 9px 25px;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 600;
        margin-top: 10px;
        width: 100%;
    }
}